<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/file-upload" method= "post" enctype="multipart/form-data">
        <div id="result" ></div>
        <input class="logo-file input-w200" name="logo-img" type="hidden">
        <input  type="file" name="filelogo" id="logofile">

        <div class="submit">
            <input type = "submit" class="input-w100 btn-orange">
        </div>
    </form>
</body>
</html>