<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>renrentou</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="dianpu">
		<header>
            <div class="header-wrapper">
                <div class="logo-wrapper fl">
                    <a href="/">
                        <img src="/img/logo.jpg">
                    </a>
                </div>
                <div class="nav fl">
                    <span class="country">全国</span>
                    <a href="/city/" class="change-city">
                        <span>[切换城市]</span>
                    </a>
                    <a href="/dianpu/" class="investment-project"></a>
                    <form class="search-project">
                        <input type="text" class="input-w200 search-text fl" placeholder="找项目">
                        <input type="submit" class="submit" value="">
                    </form> 
                </div>
                <div class="header-right">
                    <div>
                        <span class="vip"></span>
                        <a>会员中心</a>
                    </div>
                    <div>
                        <span class="message"></span>
                        <a>消息<span class="msg-num">(0)</span></a>
                    </div>
                    <div class="dropdown">
                        <ul class="drop-lst">
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/head.png">
                                    <span>个人主页</span>
                                </a>
                            </li>
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/money.png">
                                    <span>资金管理</span>
                                </a>
                            </li>
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/submit.png"> 
                                    <span>提交融资店铺</span>
                                </a>
                            </li>
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/submited.png">
                                    <span>已提交的融资店铺</span>
                                </a>
                            </li>
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/authenticate.png">
                                    <span>投资人认证</span>
                                </a>
                            </li>
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/setup.png">
                                    <span>账号设置</span>
                                </a>
                            </li>
                            <li class="dblock">
                                <a href="">
                                    <img src="/img/dropOut.png">
                                    <span>安全退出</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-bg">
        	<div class="shade-img"></div>
        	<div class="content clearfix">
        		<div class="content-left fl">
        			<div class="left-tit">
        				<h2>【六子小馆】&nbsp;山西主题餐厅第一馆</h2>
        				<div class="author">
        					<span class="author-lay">发起人</span>
        					<span class="name">曲波</span>
        					<span>山西省太原市</span>
        					<span>行业：<span>美食</span></span>
        					<span>目前开店数目：<span>1</span></span>
        				</div>
        			</div>
        			<div class="tab-content clearfix">
        				<ul>
        					<li><a href="">店铺简介</a></li>
        					<li><a href="">预算及退出</a></li>
        					<li><a href="">融资互动</a></li>
        					<li><a href="">电子协议</a></li>
        				</ul>
        			</div>
        		</div>
        		<div class="content-right fr"></div>
        	</div>
        </div>
	</div>
</body>
</html>