<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>investment</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>
    <div class="investment">
        <header>
            <div class="header-wrapper">
                <div class="logo-wrapper fl">
                    <a href="/">
                        <img src="../public/img/logo.jpg">
                    </a>
                </div>
                <div class="nav fl">
                    <span class="country">全国</span>
                    <a href="/city/" class="change-city">
                        <span>[切换城市]</span>
                    </a>
                    <a href="/dianpu/" class="investment-project"></a>
                    <form class="search-project">
                        <input type="text" class="input-w200 search-text fl" placeholder="找项目">
                        <input type="submit" class="submit" value="">
                    </form>
                    <div class="register">
                        <a href=""><span>项目方注册</span></a>
                        <a href=""><span>投资人注册</span></a>
                        <a href=""><span>登录</span></a>
                    </div>
                </div>
            </div>
        </header>
        <form method="get" class="sort">
            <div class="type-lst clearfix">
                <ul class="clearfix fl">
                    <li class="category-01"><a href="">全&nbsp;&nbsp;&nbsp;&nbsp;部</a></li>
                    <li class="category-02">
                        <a href="">美&nbsp;&nbsp;&nbsp;&nbsp;食</a>
                        <dl>
                            <span></span>
                            <dt><a href="">烧烤</a></dt>
                            <dt><a href="">火锅</a></dt>
                            <dt><a href="">湘菜</a></dt>
                            <dt><a href="">粤菜</a></dt>
                            <dt><a href="">烤鱼</a></dt>
                            <dt><a href="">干锅/香锅</a></dt>
                            <dt><a href="">海鲜</a></dt>
                            <dt><a href="">日本料理</a></dt>
                            <dt><a href="">自助餐</a></dt>
                            <dt><a href="">甜品蛋糕</a></dt>
                        </dl>
                    </li>
                    <li class="category-03">
                        <a href="">休闲娱乐</a>
                        <dl>
                            <span></span>
                            <dt><a href="">电影</a></dt>
                            <dt><a href="">养生休闲</a></dt>
                            <dt><a href="">运动健身</a></dt>
                            <dt><a href="">桌游电玩</a></dt>
                            <dt><a href="">演出赛事</a></dt>
                            <dt><a href="">其他娱乐</a></dt>
                        </dl>
                    </li>
                    <li class="category-04">
                        <a href="">生活服务</a>
                        <dl>
                            <span></span>
                            <dt><a href="">酒店</a></dt>
                            <dt><a href="">旅行社</a></dt>
                            <dt><a href="">健康护理</a></dt>
                            <dt><a href="">汽车服务</a></dt>
                            <dt><a href="">母婴亲子</a></dt>
                            <dt><a href="">结婚婚庆</a></dt>
                            <dt><a href="">照片冲印</a></dt>
                            <dt><a href="">美容美体</a></dt>
                        </dl>
                    </li>
                    <li class="category-05">
                        <a href="">教育培训</a>
                        <dl>
                            <span></span>
                            <dt><a href="">婴幼儿教育</a></dt>
                            <dt><a href="">少儿培训</a></dt>
                            <dt><a href="">职业教育</a></dt>
                            <dt><a href="">外语学习</a></dt>
                            <dt><a href="">才艺健康</a></dt>
                            <dt><a href="">驾校陪练</a></dt>
                            <dt><a href="">远程学习</a></dt>
                            <dt><a href="">其他培训</a></dt>
                        </dl>
                    </li>
                    <li class="category-06">
                        <a href="">所在地区</a>
                        <dl>
                            <span></span>
                            <dt><a href="">北京市</a></dt>
                            <dt><a href="">深圳市</a></dt>
                            <dt><a href="">济南市</a></dt>
                            <dt><a href="">大连市</a></dt>
                            <dt><a href="">广州市</a></dt>
                            <dt><a href="">邯郸市</a></dt>
                            <dt><a href="">杭州市</a></dt>
                            <dt><a href="">潍坊市</a></dt>
                            <dt><a href="">东莞市</a></dt>
                            <dt><a href="">广州市</a></dt>
                            <dt><a href="">太原市</a></dt>
                            <dt><a href="">上海市</a></dt>
                            <dt><a href="">西安市</a></dt>
                        </dl>
                    </li>
                    <li class="category-07">
                        <label>状态：</label>
                        <span class="all">全部</span>
                        <dl>
                            <span></span>
                            <dt><a href="">全部</a></dt>
                            <dt><a href="">融资中</a></dt>
                            <dt><a href="">预热中</a></dt>
                            <dt><a href="">融资成功</a></dt>
                            <dt><a href="">分红项目</a></dt>
                        </dl>
                    </li>
                </ul>
            </div>
        </form>
        <div class="sort-box wrapper">
            <ul class="clearfix">
                <li><a href="" class="time">上线时间</a></li>
                <li><a href="" class="money">目标金额</a></li>
                <li><a href="" class="care">关注</a></li>
                <li><a href="" class="interview">约谈</a></li>
            </ul>
        </div>
        <div class="project"></div>
        <div class="page-wrapper"></div>
        <div class="dream">
            <img src="../public/img/renrentou.jpg">
            <img src="../public/img/rrt_lc.gif">
        </div>
        <div class="now">
            <a href="">发起我的梦想</a>
        </div>
        <div class="under-text clearfix">
            <div class="text-l fl">
                <h3>为什么选择人人投？</h3>
                <p>我们人人投网站是一家使用<span>股权众筹方式，为实体店铺开分店</span>提供融资服务，帮助融资方快速融资开分店 ，并且帮助投资人找到优质项目的互联网金融服务平台。</p>
            </div>
            <div class="text-r fr">
                <h3>我们对项目方和投资方的利益做了考虑</h3>
                <p>项目方对项目经营的控制权、知识产权、核心技术等可以得到保护。</p>
                <p>资金来自于多投资人的众筹，融资更高效。</p>
                <p>投资人可以不参与经营并获得店铺盈利分红。</p>
                <p>投资人可以分散资金投资多家店铺，降低风险。</p>
            </div>
        </div>
    </div>
</body>
</html>