<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

</head>
<body>
	<div class="login">
		<header>
			<div class="header-wrapper">
				<div class="logo-wrapper fl">
					<a href="/">
					</a>
				</div>
				<div class="nav fl">
					<span class="country">全国</span>
					<a href="/city/" class="change-city">
						<span>[切换城市]</span>
					</a>
					<a href="/dianpu/" class="investment-project"></a>
					<form class="search-project">
						<input type="text" class="input-w200 search-text fl" placeholder="找项目">
						<input type="submit" class="submit" value="">
					</form>
				</div>
				<div class="regist fr">
					<a href="">登录</a>
				</div>
			</div>
		</header>
		<div class="content-box clearfix">
            <div class="content-box-info clearfix">
                <div class="content clearfix">
                    <div class="content-left fl">
                    	<form action="" method="">
                    		<div class="content-left-top">登录人人投</div>
                    		<div class="input-box">
                    			<img class="input-img" src="/img/email.png"/>
                    			<input id="my-email" class="input-w280" type="text" name="emails" placeholder="邮箱"/>
                    		</div>
                    		<div class="input-box">
                    			<img class="input-img" src="/img/lock.png"/>
                    			<input id="psd" class="input-w280" type="text" name="password" placeholder="输入密码">
                    		</div>
                    		<div class="identify">
                    			<input class="id-code input-w100" type="text" placeholder="输入验证码"/>
                    			<img class="code" src="/img/code.png"/>
                    			<a href="">看不清，换一张</a>
                    		</div>
                    		<div class="login-imme">
                    			<input type="submit" id="login" class="input-w280" value="立即登录"/>
                    		</div>
                    		<a class="forget"href="">忘记密码</a>
                    	</form>
                    </div>
                    <div class="content-right fr">
                        <div class="content-right-top">没有账号？</div>
                        <div class="yes">欢迎注册加入我们！</div>
                        <div class="login">
                            <a href="/register">快速注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
	</div>
	<% include footer %>

       <script type="text/javascript">
    $(document).ready(function(){
    var email,pass;
    $("#login").click(function(){
        email=$("#my-email").val();
        pass=$("#psd").val();
        $.ajax({
            url: 'login',
            type: 'post',
            username: email,
            data: {
                email: email,
                password: pass
            },
            success: function(data) {
                if (!data.isChecked) {
                    alert(data.text);
                }
                 else {
                        alert('message');
                    }
            }
        })
    });
});
    </script>
</body>
</html>