<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>
    <div class="register">
        <header>
            <div class="header-wrapper">
                <div class="logo-wrapper fl">
                    <a href="/">
                    </a>
                </div>
                <div class="nav fl">
                    <span class="country">全国</span>
                    <a href="/city/" class="change-city">
                        <span>[切换城市]</span>
                    </a>
                    <a href="/dianpu/" class="investment-project"></a>
                    <form class="search-project">
                        <input type="text" class="input-w200 search-text fl" placeholder="找项目">
                        <input type="submit" class="submit" value="">
                    </form>
                </div>
                <div class="regist fr">
                   <a href="login.html">登录</a>
               </div>
           </div>
        </header>
        <div class="content-box clearfix">
            <div class="content-box-info clearfix">
                <div class="content clearfix">
                    <div class="content-left fl">
                        <form action="" method="post">
                            <div class="content-left-top">注册人人投</div>
                            <div class="resetMode">
                                请选择：
                                <input type="radio" name="user_type" value="2"/>
                                项目方
                                <input type="radio" name="user_type" value="1"/>
                                投资方
                            </div>
                            <div class="input-box">
                                <img class="input-img" src="../public/img/email.png"/>
                                <input class="input-w280" type="text" name="emails" placeholder="输入邮箱">
                                <div class=""></div>
                            </div>
                            <div class="input-box">
                                <img class="input-img" src="../public/img/person.png"/>
                                <input class="input-w300" type="text" name="emails" placeholder="真实姓名">
                                <div class=""></div>
                            </div>
                            <div class="input-box">
                                <img class="input-img" src="../public/img/phone.png"/>
                                <input class="input-w300" type="text" name="emails" placeholder="手机号码">
                                <div class=""></div>
                            </div>
                            <div class="input-box">
                                <img class="input-img" src="../public/img/phone.png"/>
                                <input class="input-w200" type="text" name="emails" placeholder="手机验证码">
                                <div class="identify">
                                   <a href="">获取验证码</a>
                                </div>
                                <div class=""></div>
                            </div>
                            <div class="input-box">
                                <img class="input-img" src="../public/img/lock.png"/>
                                <input class="input-w300" type="text" name="emails" placeholder="输入密码">
                                <div class=""></div>
                            </div>
                            <div class="input-box">
                                <img class="input-img" src="../public/img/lock.png"/>
                                <input class="input-w300" type="text" name="emails" placeholder="再次输入重复密码">
                                <div class=""></div>
                            </div>
                            <div class="pro">
                                <input type="checkbox" name="agreement"/>
                                我已阅读并同意<a href="http://www.renrentou.com/publish/attachdown/type/doc/id/3">《人人投网站服务协议》</a>
                            </div>
                            <div class="button">
                                <input type="button" value="立即注册">	
                            </div>
                        </form>
                    </div>
                    <div class="content-right fr">
                        <div class="content-right-top">安全、高效、低门槛的实体店铺投融资平台！</div>
                        <div class="is">已有人人投账号？</div>
                        <div class="login">
                            <a href="login.html">立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <footer>
        <p>
            <a target="_blank" href="">关于我们</a>
            <a target="_blank" href="">联系我们</a>
        </p>
        <p>Copyright © 2015 人人投股权众筹平台</p>
    </footer>
</body>
</html>