<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div class="users">
        <% include header %>
        <div class="container">
            <div class="content">
                <div class="userMsg clearfix">
                    <span class="default fl">
                        <img src="../public/img/default-header.png">
                    </span>
                    <div class="person fl">
                        <span class="name fl">Alan</span>
                        <span class="msg fr">信息完整程度:</span>
                    </div>
                    <ul>
                        <li>
                            <b>0</b>
                            <p><a href="">关注</a></p>
                        </li>
                        <li>
                            <b>0</b>
                            <p><a href="">约谈</a></p>
                        </li>
                        <li>
                            <b>0</b>
                            <p><a href="">投资</a></p>
                        </li>
                        <li class="moneyMag">
                            请在
                            <a href=""><strong>资金管理</strong></a>
                            中认证投资人并且同步易宝注册！
                        </li>
                    </ul>
                    <div class="btn-wrapper fr">
                        <button class="btn btn-yellow btn-w100">编辑个人信息</button>
                        <button class="btn btn-red btn-w100">投资人认证</button>
                    </div>
                    <p class="star fl">
                        <span>投资星级：</span>
                        <span>无</span>
                    </p>
                </div>
                <div class="shop-wrapper clearfix">
                    <ul class="fl">
                        <li>
                            <a href="">
                                <i class="tip-icon shop"></i>
                                <span>店铺</span>
                                <i class="tip-icon arrow-down fr"></i>
                            </a>
                            <dl>
                                <dd>
                                    <a href="">
                                        <span>提交的店铺</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <span>约谈的店铺</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <span>关注的店铺</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <span>预约的店铺</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <span>投资的店铺</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <a href="">
                                <i class="tip-icon money"></i>
                                <span>资金管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="tip-icon action"></i>
                                <span>动态（0）</span>
                                <i class="tip-icon arrow-down fr"></i>
                            </a>
                            <dl>
                                <dd>
                                    <a href="">
                                        <span>我的动态</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="">
                                        <span>我关注的动态</span>
                                        <i class="tip-icon arrow-right"></i>
                                    </a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <a href="">
                                <i class="tip-icon comment"></i>
                                <span>评论（0）</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="tip-icon fans"></i>
                                <span>粉丝（0）</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="tip-icon care"></i>
                                <span>关注（0）</span>
                            </a>
                        </li>
                    </ul>
                    <div class="info fl">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
         <% include footer %>
    </div>
</body>
</html>