<form action="third-file-uploads" method= "post" class="clearfix" enctype="multipart/form-data" id="third-form" style="display:none">
<div class="reward clearfix" >
                            <ul class="fl">
                                <li>
                                    <div class="div-inb">
                                        <span>
                                            <em>*</em>
                                            <strong>融资总额&nbsp;￥</strong>
                                        </span>
                                        <input type="text" class="input-w150 number-validate" required id="wholeMoney">
                                        <span class="error-empty errMsg"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="div-inb">
                                        <span>
                                            <em>*</em>
                                            <strong>项目方出资及比例&nbsp;￥</strong>
                                        </span>
                                        <input type="text" class="input-w150 number-validate" required id="pubProportion" name="pubMoney">
                                        <span class="error-empty errMsg"></span>
                                        <i id="pubPercent"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="div-inb">
                                        <span>
                                            <em>*</em>
                                            <strong>投资人出资及比例&nbsp;￥</strong>
                                        </span>
                                        <label class="inv-earings-ratio" id="invPropotion"></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="div-inb">
                                        <span>
                                            <em>*</em>
                                            <strong>项目方收益比例&nbsp;</strong>
                                        </span>
                                        <input type="text" class="input-w150 number-validate" required id="pubEarn" name="pubEarn">
                                        <span class="error-empty errMsg"></span>
                                        <i>%</i>
                                    </div>
                                </li>
                                <li>
                                    <div class="div-inb">
                                        <span> 
                                            <em>*</em>
                                            <strong>投资方收益比例&nbsp;</strong>
                                        </span>
                                        <label class="inv-earings-ratio" id="invEarn"></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="div-inb">
                                        <span>
                                            <em>*</em>
                                            <strong>认购份数&nbsp;</strong>
                                        </span>
                                        <input type="text" class="input-w150" required id="buyParts" name="buyParts">
                                        <span class="error-empty errMsg"></span>
                                        <strong class="most">(最多不超过199份)</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="div-inb">
                                        <span>
                                            <em>*</em>
                                            <strong>单投资人最低投资金额&nbsp;￥</strong>
                                        </span>
                                        <label class="lowestmoney" id="perLowset"></label>
                                    </div>
                                </li>
                            </ul>
                            <div class="fr shares">
                                <h6>份数推荐</h6>
                                <div class="parts-intro" id="partsLst">
                                </div>
                            </div>
                            <div class="submit fl">
                                <a class="btn btn-w100 btn-yellow" id="preSecond">上一步</a>
                                <button class="btn btn-w100 btn-red" id="nextFourth" value="下一步"></button>
                            </div>
                        </div>
</form>
